html
  head
    title= 'Кто такой?'
  body
    h1= 'представьтесь, пожалуйста'
    form(
      method='POST'
      action='login'
    )
      input(
        type='text'
        name='email'
      )
      input(
        type='password'
        name='password'
      )
      button(
        type='submit'
      ) Свои